<template>
  <div id="app" class="container">
    <template>
      <div style="margin-top:40px;" class="row">
        <div id="game-view" class="row">
          <div v-if="showTitle" class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="players-list">
                <div class="col-md-2 col-xs-2 col-sm-2">#</div>
                <div class="col-md-3 col-xs-3 col-sm-3">Player</div>
                <div class="col-md-4 col-xs-4 col-sm-4">Score</div>
                <div class="col-md-3 col-xs-3 col-sm-3">Message</div>
              </div>
              <div v-for="(score, i) in players">
                <div class="col-md-2 col-xs-2 col-sm-2">{{ score.GameLabel }}</div>
                <div class="col-md-3 col-xs-3 col-sm-3">{{ score.UserType }}</div>
                <div class="col-md-4 col-xs-4 col-sm-4">{{ score.Score }}/{{ score.Games }}</div>
                <div v-if="activePlayerLabel == score.GameLabel" class="col-md-3 col-xs-3 col-sm-3">{{ message }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div id="game-squares">
              <div v-if="hasSquares"
                   v-for="(square, i) in squares"
                   v-on:click="MovementAction(i)"
                   :class="{ highlighted: square.IsHighlighted }"
                   class="game-view-square">
                {{ square.LabelValue }}
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12 text-center">
            <button class="btn btn-primary" v-on:click="RestartGame()">Play Again</button>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import io from "socket.io-client";
import Constants from "./Constants";

export default {
  name: 'app',
  data() {
      return {
          socket: io(Constants.SOCKET_URL),
          squares: null,
          hasSquares: false,
          showTitle: true,
          message: "",
          isActivePlayerComputer: false,
          players: [],
          winner: false,
          activePlayerLabel: ""
      }
  },
  methods: {
      SetSquares(data) {
          this.squares = data.squares;
          this.hasSquares = true;
      },
      UpdateGameState(data)
      {
          this.squares = data.squares;
          this.message = data.message;
          this.isActivePlayerComputer = data.activePlayer;
          this.players = data.players;
          this.winner = data.winner;
          this.activePlayerLabel = data.activePlayerLabel;
      },
      MovementAction(i) {
          if (this.isActivePlayerComputer) return;
          this.socket.emit(Constants.SOCKET_EVENTS.MAKE_ACTION, { index: i });
      },
      RestartGame() {
          this.socket.emit(Constants.SOCKET_EVENTS.RESTART_GAME, { start: true });
      }
  },
  created: function() {
      this.socket.on(Constants.SOCKET_EVENTS.UPDATE_GAME_STATE,
          reponse => this.UpdateGameState(reponse.data));
      this.socket.on(Constants.SOCKET_EVENTS.GET_GAME_LAYOUT,
          reponse => this.SetSquares(reponse));
      this.socket.emit(Constants.SOCKET_EVENTS.START_GAME, { start: true });
  }
}
</script>

<style>
  body {
    margin: 0;
  }

  #game-view {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
  }

  #game-squares {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
  }

  .game-view-square {
    width: 33.33%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 75px;
    text-transform: uppercase;

    border-radius: 15px;
    cursor:pointer;
    user-select: none;
    -moz-user-select: none;
  }

  .game-view-square.highlighted { color: green; }
  .game-view-square:hover { background-color: #eee; border: 2px solid green; }
  .game-view-square:nth-child(-n + 9) { border: 1px solid brown; }

  .players-list:first-child { font-weight: bold; }

</style>
